.section-contact {
    margin-bottom: 30px;
}

.flex-contact {
    display: flex;
    flex-direction: column;
    border: 2px solid #930101;
    width: 60%;
    margin: 0 auto;
}

.title-contact {
    text-align: center;
    text-transform: uppercase;
}

.input-contact {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.first {
    margin-top: 30px;
}