@import '../../../sass/abstracts/variables';

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}



.section-width {
    width: 90%;
    height:fit-content;
    margin-top: 50px;
    margin-bottom: 60px;
}

.carousel .text-carousel {
    color: white;
    text-align: center;
    position: absolute;
    width: 60%;
    left: 18%;
    top: 50%;
    transform: translateY(-50);
    background: rgb(0, 0, 0, 0.6);
}

.carousel {
    border-radius: 50px;
}

.thumbs {
    display: none;
}

.line {
    position: relative;
}

.slider {
    height: 600px;
}

.line:after {
    content: "";
    background: black;
    position: absolute;
    left: 25%;
    height: 1px;
    width: 50%;
    margin-top: 15px;
  }

.title-home {
    text-align: center;
    font-size: 3rem;
}

.text-presentation {
    text-align: center;

}

video {
    margin-bottom: 100px;
}

