.section-resa {
    margin-bottom: 50px;
}

.title-resa {
    text-align: center;
    text-transform: uppercase;
}

.form-resa {
    border: 2px solid #930101;
    width: 60%;
    margin: 0 auto;
}



.label-resa {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.resa1 {
    margin-top: 30px;
}
