@import '../../sass/abstracts/variables';
@import '../../../src/sass/abstracts/mixins';

header {
    background-color: $background_color;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 15%;
    text-align: center;
    color: $text_color1;
    text-transform: uppercase;
}

.menu-with-submenu .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    list-style: none;
    background-color: black;
    margin-top:20px;
    width: 10%;
    padding: 2%;
    z-index: 1;
}

.ul-header {
    width: 50%;
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}

li {
    color: $text_color1;
}

a {
    text-decoration: none;
}

.btn {
    @include btn
}

